<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../Styles/responsive.css">
    <link rel="stylesheet" href="../Styles/darkMode.css">
    <link rel="stylesheet" href="../Styles/styles.css">
</head>

<body>
    <div class="articlesActu">
        <!-- HEADER -->
        <nav>
            <section>
                <article>
                    <img src="../Asset/logo.jpg" alt="">
                    <img src="../Asset/image copy 2.png" alt="">
                </article>
                <article>
                    <span>
                        <i class="bi-at"></i>
                        <p>tokelyjustin@gmail.com</p>
                    </span>
                    <span>
                        <i class="bi-facebook"></i>
                        <p>Tokely Justin</p>
                    </span>
                    <span>
                        <i class="bi-facebook"></i>
                        <p>Cosef ofisialy</p>
                    </span>
                    <span>
                        <i class="bi-whatsapp"></i>
                        <p>+261341234567</p>
                    </span>
                </article>
            </section>
        </nav>
        <header class="header">
            <section>
                <article>
                    <p id="home"><span>C</span>omite de <span>S</span>outien
                        <span>T</span>okely <span>J</span>ustin
                    </p>
                </article>
                <article class='active'>
                    <a href="../index.html #">
                        <p>Accueil</p>
                    </a>
                    <a href="../index.html #Actu">
                        <p>Actualites</p>
                    </a>
                    <a href="../index.html #Apropos">
                        <p>Apropos</p>
                    </a>
                    <a href="../index.html #Liens">
                        <p>Liens Utiles</p>
                    </a>
                    <a href="../index.html #Contact">
                        <p>Contact</p>
                    </a>
                </article>
                <article>
                    <label>
                        <i class="bi-search">
                        </i>
                    </label>
                    <label for="dark">
                        <i class="bi-moon-stars" id="dark-mode">
                        </i>
                        <input type="checkbox" name="dark" id="dark">
                    </label>
                </article>
            </section>
        </header>
        <header class="headerMobile">
            <section>
                <article>
                    <p id="home"><span>C</span>omite de <span>S</span>outien
                        <span>T</span>okely <span>J</span>ustin
                    </p>
                </article>
                <article></article>
                <!-- <article class='active'>
                    <a href="#">
                        <p>Accueil</p>
                    </a>
                    <a href="#Actu">
                        <p>Actualites</p>
                    </a>
                    <a href="#Apropos">
                        <p>Apropos</p>
                    </a>
                    <a href="#Liens">
                        <p>Liens Utiles</p>
                    </a>
                    <a href="#Contact">
                        <p>Contact</p>
                    </a>
                </article> -->
                <article>
                    <label>
                        <i class="bi-search">
                        </i>
                    </label>
                    <label for="dark">
                        <i class="bi-moon-stars" id="dark-mode">
                        </i>
                        <input type="checkbox" name="dark" id="dark">
                    </label>
                    <label>
                        <i class="bi-list"></i>
                    </label>
                </article>
            </section>
        </header>

        <main>
            <!-- ACTUALITE -->
            <section style="display:none;"></section>
            <section id="Actu">
                <article>
                    <div>
                        <p>Recherche</p>
                    </div>
                    <div>
                        <input type="search" placeholder="Recherche.." name="" id="">
                        <i class="bi-search"></i>
                    </div>
                </article>
                <article>
                    <figure>
                        <picture>
                            <img src="https://scontent.ftnr2-2.fna.fbcdn.net/v/t39.30808-6/450723222_469401715815343_7479344219528169423_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeEaBHX2ibXXhgmh3M_2pQtWBcbuAekWgyYFxu4B6RaDJhZoKtJz0jBsZEHw1X5tojdMalAt7h9-4sO7cb91Ku9J&_nc_ohc=h2_LUo6o7fgQ7kNvgEFTa4v&_nc_ht=scontent.ftnr2-2.fna&oh=00_AYBdrJyl6h1Aey7ZeuAmH8OSNRVgMvsw0N-_se_cYkjHTQ&oe=66C43001"
                                alt="">
                        </picture>
                        <figcaption>
                            <p>lorem Title</p>
                            <p>Ny fianakaviamben'ny #COSEF dia miarahaba an'Andriamatoa TOKELY Justin no voafidy
                                Filohan'ny Antenimierampirenena vaovao izay Solombavambahoaka voafidy tao SAMBAVA.
                                Tsy adino ihany koa ny miarahaba ianareo mandrafitra ny birao maharitra ny
                                Antenimierampirenena .
                                Mirary Soa .
                                Mahaleova mahalasana 🙏.
                                EEddie FernandFEddie FernandCCandidat Eric FernandECandidat Eric FernandFCandidat Eric
                                FernandAAides CuantalahaCAides Cuantalaha
                                CCosef OfisialyOCosef Ofisialy</p>
                        </figcaption>
                    </figure>
                    <figure>
                        <picture>
                            <img src="https://scontent.ftnr2-2.fna.fbcdn.net/v/t39.30808-6/450723222_469401715815343_7479344219528169423_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeEaBHX2ibXXhgmh3M_2pQtWBcbuAekWgyYFxu4B6RaDJhZoKtJz0jBsZEHw1X5tojdMalAt7h9-4sO7cb91Ku9J&_nc_ohc=h2_LUo6o7fgQ7kNvgEFTa4v&_nc_ht=scontent.ftnr2-2.fna&oh=00_AYBdrJyl6h1Aey7ZeuAmH8OSNRVgMvsw0N-_se_cYkjHTQ&oe=66C43001"
                                alt="">
                        </picture>
                        <figcaption>
                            <p>lorem Title</p>
                            <p>Ny fianakaviamben'ny #COSEF dia miarahaba an'Andriamatoa TOKELY Justin no voafidy
                                Filohan'ny Antenimierampirenena vaovao izay Solombavambahoaka voafidy tao SAMBAVA.
                                Tsy adino ihany koa ny miarahaba ianareo mandrafitra ny birao maharitra ny
                                Antenimierampirenena .
                                Mirary Soa .
                                Mahaleova mahalasana 🙏.
                                EEddie FernandFEddie FernandCCandidat Eric FernandECandidat Eric FernandFCandidat Eric
                                FernandAAides CuantalahaCAides Cuantalaha
                                CCosef OfisialyOCosef Ofisialy</p>
                        </figcaption>
                    </figure>
                    <figure>
                        <picture>
                            <img src="https://scontent.ftnr2-2.fna.fbcdn.net/v/t39.30808-6/450723222_469401715815343_7479344219528169423_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeEaBHX2ibXXhgmh3M_2pQtWBcbuAekWgyYFxu4B6RaDJhZoKtJz0jBsZEHw1X5tojdMalAt7h9-4sO7cb91Ku9J&_nc_ohc=h2_LUo6o7fgQ7kNvgEFTa4v&_nc_ht=scontent.ftnr2-2.fna&oh=00_AYBdrJyl6h1Aey7ZeuAmH8OSNRVgMvsw0N-_se_cYkjHTQ&oe=66C43001"
                                alt="">
                        </picture>
                        <figcaption>
                            <p>lorem Title</p>
                            <p>Ny fianakaviamben'ny #COSEF dia miarahaba an'Andriamatoa TOKELY Justin no voafidy
                                Filohan'ny Antenimierampirenena vaovao izay Solombavambahoaka voafidy tao SAMBAVA.
                                Tsy adino ihany koa ny miarahaba ianareo mandrafitra ny birao maharitra ny
                                Antenimierampirenena .
                                Mirary Soa .
                                Mahaleova mahalasana 🙏.
                                EEddie FernandFEddie FernandCCandidat Eric FernandECandidat Eric FernandFCandidat Eric
                                FernandAAides CuantalahaCAides Cuantalaha
                                CCosef OfisialyOCosef Ofisialy</p>
                        </figcaption>
                    </figure>
                    <figure>
                        <picture>
                            <img src="https://scontent.ftnr2-2.fna.fbcdn.net/v/t39.30808-6/450723222_469401715815343_7479344219528169423_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeEaBHX2ibXXhgmh3M_2pQtWBcbuAekWgyYFxu4B6RaDJhZoKtJz0jBsZEHw1X5tojdMalAt7h9-4sO7cb91Ku9J&_nc_ohc=h2_LUo6o7fgQ7kNvgEFTa4v&_nc_ht=scontent.ftnr2-2.fna&oh=00_AYBdrJyl6h1Aey7ZeuAmH8OSNRVgMvsw0N-_se_cYkjHTQ&oe=66C43001"
                                alt="">
                        </picture>
                        <figcaption>
                            <p>lorem Title</p>
                            <p>Ny fianakaviamben'ny #COSEF dia miarahaba an'Andriamatoa TOKELY Justin no voafidy
                                Filohan'ny Antenimierampirenena vaovao izay Solombavambahoaka voafidy tao SAMBAVA.
                                Tsy adino ihany koa ny miarahaba ianareo mandrafitra ny birao maharitra ny
                                Antenimierampirenena .
                                Mirary Soa .
                                Mahaleova mahalasana 🙏.
                                EEddie FernandFEddie FernandCCandidat Eric FernandECandidat Eric FernandFCandidat Eric
                                FernandAAides CuantalahaCAides Cuantalaha
                                CCosef OfisialyOCosef Ofisialy</p>
                        </figcaption>
                    </figure>
                    <figure>
                        <picture>
                            <img src="https://scontent.ftnr2-2.fna.fbcdn.net/v/t39.30808-6/450723222_469401715815343_7479344219528169423_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeEaBHX2ibXXhgmh3M_2pQtWBcbuAekWgyYFxu4B6RaDJhZoKtJz0jBsZEHw1X5tojdMalAt7h9-4sO7cb91Ku9J&_nc_ohc=h2_LUo6o7fgQ7kNvgEFTa4v&_nc_ht=scontent.ftnr2-2.fna&oh=00_AYBdrJyl6h1Aey7ZeuAmH8OSNRVgMvsw0N-_se_cYkjHTQ&oe=66C43001"
                                alt="">
                        </picture>
                        <figcaption>
                            <p>lorem Title</p>
                            <p>Ny fianakaviamben'ny #COSEF dia miarahaba an'Andriamatoa TOKELY Justin no voafidy
                                Filohan'ny Antenimierampirenena vaovao izay Solombavambahoaka voafidy tao SAMBAVA.
                                Tsy adino ihany koa ny miarahaba ianareo mandrafitra ny birao maharitra ny
                                Antenimierampirenena .
                                Mirary Soa .
                                Mahaleova mahalasana 🙏.
                                EEddie FernandFEddie FernandCCandidat Eric FernandECandidat Eric FernandFCandidat Eric
                                FernandAAides CuantalahaCAides Cuantalaha
                                CCosef OfisialyOCosef Ofisialy</p>
                        </figcaption>
                    </figure>
                    <figure>
                        <picture>
                            <img src="https://scontent.ftnr2-2.fna.fbcdn.net/v/t39.30808-6/450723222_469401715815343_7479344219528169423_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeEaBHX2ibXXhgmh3M_2pQtWBcbuAekWgyYFxu4B6RaDJhZoKtJz0jBsZEHw1X5tojdMalAt7h9-4sO7cb91Ku9J&_nc_ohc=h2_LUo6o7fgQ7kNvgEFTa4v&_nc_ht=scontent.ftnr2-2.fna&oh=00_AYBdrJyl6h1Aey7ZeuAmH8OSNRVgMvsw0N-_se_cYkjHTQ&oe=66C43001"
                                alt="">
                        </picture>
                        <figcaption>
                            <p>lorem Title</p>
                            <p>Ny fianakaviamben'ny #COSEF dia miarahaba an'Andriamatoa TOKELY Justin no voafidy
                                Filohan'ny Antenimierampirenena vaovao izay Solombavambahoaka voafidy tao SAMBAVA.
                                Tsy adino ihany koa ny miarahaba ianareo mandrafitra ny birao maharitra ny
                                Antenimierampirenena .
                                Mirary Soa .
                                Mahaleova mahalasana 🙏.
                                EEddie FernandFEddie FernandCCandidat Eric FernandECandidat Eric FernandFCandidat Eric
                                FernandAAides CuantalahaCAides Cuantalaha
                                CCosef OfisialyOCosef Ofisialy</p>
                        </figcaption>
                    </figure>
                    <figure>
                        <picture>
                            <img src="https://scontent.ftnr2-2.fna.fbcdn.net/v/t39.30808-6/450723222_469401715815343_7479344219528169423_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeEaBHX2ibXXhgmh3M_2pQtWBcbuAekWgyYFxu4B6RaDJhZoKtJz0jBsZEHw1X5tojdMalAt7h9-4sO7cb91Ku9J&_nc_ohc=h2_LUo6o7fgQ7kNvgEFTa4v&_nc_ht=scontent.ftnr2-2.fna&oh=00_AYBdrJyl6h1Aey7ZeuAmH8OSNRVgMvsw0N-_se_cYkjHTQ&oe=66C43001"
                                alt="">
                        </picture>
                        <figcaption>
                            <p>lorem Title</p>
                            <p>Ny fianakaviamben'ny #COSEF dia miarahaba an'Andriamatoa TOKELY Justin no voafidy
                                Filohan'ny Antenimierampirenena vaovao izay Solombavambahoaka voafidy tao SAMBAVA.
                                Tsy adino ihany koa ny miarahaba ianareo mandrafitra ny birao maharitra ny
                                Antenimierampirenena .
                                Mirary Soa .
                                Mahaleova mahalasana 🙏.
                                EEddie FernandFEddie FernandCCandidat Eric FernandECandidat Eric FernandFCandidat Eric
                                FernandAAides CuantalahaCAides Cuantalaha
                                CCosef OfisialyOCosef Ofisialy</p>
                        </figcaption>
                    </figure>
                    <figure>
                        <picture>
                            <img src="https://scontent.ftnr2-2.fna.fbcdn.net/v/t39.30808-6/450723222_469401715815343_7479344219528169423_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeEaBHX2ibXXhgmh3M_2pQtWBcbuAekWgyYFxu4B6RaDJhZoKtJz0jBsZEHw1X5tojdMalAt7h9-4sO7cb91Ku9J&_nc_ohc=h2_LUo6o7fgQ7kNvgEFTa4v&_nc_ht=scontent.ftnr2-2.fna&oh=00_AYBdrJyl6h1Aey7ZeuAmH8OSNRVgMvsw0N-_se_cYkjHTQ&oe=66C43001"
                                alt="">
                        </picture>
                        <figcaption>
                            <p>lorem Title</p>
                            <p>Ny fianakaviamben'ny #COSEF dia miarahaba an'Andriamatoa TOKELY Justin no voafidy
                                Filohan'ny Antenimierampirenena vaovao izay Solombavambahoaka voafidy tao SAMBAVA.
                                Tsy adino ihany koa ny miarahaba ianareo mandrafitra ny birao maharitra ny
                                Antenimierampirenena .
                                Mirary Soa .
                                Mahaleova mahalasana 🙏.
                                EEddie FernandFEddie FernandCCandidat Eric FernandECandidat Eric FernandFCandidat Eric
                                FernandAAides CuantalahaCAides Cuantalaha
                                CCosef OfisialyOCosef Ofisialy</p>
                        </figcaption>
                    </figure>
                    <figure>
                        <picture>
                            <img src="https://scontent.ftnr2-2.fna.fbcdn.net/v/t39.30808-6/450723222_469401715815343_7479344219528169423_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeEaBHX2ibXXhgmh3M_2pQtWBcbuAekWgyYFxu4B6RaDJhZoKtJz0jBsZEHw1X5tojdMalAt7h9-4sO7cb91Ku9J&_nc_ohc=h2_LUo6o7fgQ7kNvgEFTa4v&_nc_ht=scontent.ftnr2-2.fna&oh=00_AYBdrJyl6h1Aey7ZeuAmH8OSNRVgMvsw0N-_se_cYkjHTQ&oe=66C43001"
                                alt="">
                        </picture>
                        <figcaption>
                            <p>lorem Title</p>
                            <p>Ny fianakaviamben'ny #COSEF dia miarahaba an'Andriamatoa TOKELY Justin no voafidy
                                Filohan'ny Antenimierampirenena vaovao izay Solombavambahoaka voafidy tao SAMBAVA.
                                Tsy adino ihany koa ny miarahaba ianareo mandrafitra ny birao maharitra ny
                                Antenimierampirenena .
                                Mirary Soa .
                                Mahaleova mahalasana 🙏.
                                EEddie FernandFEddie FernandCCandidat Eric FernandECandidat Eric FernandFCandidat Eric
                                FernandAAides CuantalahaCAides Cuantalaha
                                CCosef OfisialyOCosef Ofisialy</p>
                        </figcaption>
                    </figure>
                    <figure>
                        <picture>
                            <img src="https://scontent.ftnr2-2.fna.fbcdn.net/v/t39.30808-6/450723222_469401715815343_7479344219528169423_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeEaBHX2ibXXhgmh3M_2pQtWBcbuAekWgyYFxu4B6RaDJhZoKtJz0jBsZEHw1X5tojdMalAt7h9-4sO7cb91Ku9J&_nc_ohc=h2_LUo6o7fgQ7kNvgEFTa4v&_nc_ht=scontent.ftnr2-2.fna&oh=00_AYBdrJyl6h1Aey7ZeuAmH8OSNRVgMvsw0N-_se_cYkjHTQ&oe=66C43001"
                                alt="">
                        </picture>
                        <figcaption>
                            <p>lorem Title</p>
                            <p>Ny fianakaviamben'ny #COSEF dia miarahaba an'Andriamatoa TOKELY Justin no voafidy
                                Filohan'ny Antenimierampirenena vaovao izay Solombavambahoaka voafidy tao SAMBAVA.
                                Tsy adino ihany koa ny miarahaba ianareo mandrafitra ny birao maharitra ny
                                Antenimierampirenena .
                                Mirary Soa .
                                Mahaleova mahalasana 🙏.
                                EEddie FernandFEddie FernandCCandidat Eric FernandECandidat Eric FernandFCandidat Eric
                                FernandAAides CuantalahaCAides Cuantalaha
                                CCosef OfisialyOCosef Ofisialy</p>
                        </figcaption>
                    </figure>
                    <figure>
                        <picture>
                            <img src="https://scontent.ftnr2-2.fna.fbcdn.net/v/t39.30808-6/450723222_469401715815343_7479344219528169423_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeEaBHX2ibXXhgmh3M_2pQtWBcbuAekWgyYFxu4B6RaDJhZoKtJz0jBsZEHw1X5tojdMalAt7h9-4sO7cb91Ku9J&_nc_ohc=h2_LUo6o7fgQ7kNvgEFTa4v&_nc_ht=scontent.ftnr2-2.fna&oh=00_AYBdrJyl6h1Aey7ZeuAmH8OSNRVgMvsw0N-_se_cYkjHTQ&oe=66C43001"
                                alt="">
                        </picture>
                        <figcaption>
                            <p>lorem Title</p>
                            <p>Ny fianakaviamben'ny #COSEF dia miarahaba an'Andriamatoa TOKELY Justin no voafidy
                                Filohan'ny Antenimierampirenena vaovao izay Solombavambahoaka voafidy tao SAMBAVA.
                                Tsy adino ihany koa ny miarahaba ianareo mandrafitra ny birao maharitra ny
                                Antenimierampirenena .
                                Mirary Soa .
                                Mahaleova mahalasana 🙏.
                                EEddie FernandFEddie FernandCCandidat Eric FernandECandidat Eric FernandFCandidat Eric
                                FernandAAides CuantalahaCAides Cuantalaha
                                CCosef OfisialyOCosef Ofisialy</p>
                        </figcaption>
                    </figure>
                    <figure>
                        <picture>
                            <img src="https://scontent.ftnr2-2.fna.fbcdn.net/v/t39.30808-6/450723222_469401715815343_7479344219528169423_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeEaBHX2ibXXhgmh3M_2pQtWBcbuAekWgyYFxu4B6RaDJhZoKtJz0jBsZEHw1X5tojdMalAt7h9-4sO7cb91Ku9J&_nc_ohc=h2_LUo6o7fgQ7kNvgEFTa4v&_nc_ht=scontent.ftnr2-2.fna&oh=00_AYBdrJyl6h1Aey7ZeuAmH8OSNRVgMvsw0N-_se_cYkjHTQ&oe=66C43001"
                                alt="">
                        </picture>
                        <figcaption>
                            <p>lorem Title</p>
                            <p>Ny fianakaviamben'ny #COSEF dia miarahaba an'Andriamatoa TOKELY Justin no voafidy
                                Filohan'ny Antenimierampirenena vaovao izay Solombavambahoaka voafidy tao SAMBAVA.
                                Tsy adino ihany koa ny miarahaba ianareo mandrafitra ny birao maharitra ny
                                Antenimierampirenena .
                                Mirary Soa .
                                Mahaleova mahalasana 🙏.
                                EEddie FernandFEddie FernandCCandidat Eric FernandECandidat Eric FernandFCandidat Eric
                                FernandAAides CuantalahaCAides Cuantalaha
                                CCosef OfisialyOCosef Ofisialy</p>
                        </figcaption>
                    </figure>
                    <figure>
                        <picture>
                            <img src="https://scontent.ftnr2-2.fna.fbcdn.net/v/t39.30808-6/454584201_480935038229239_454747725655251971_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeESehBHhtRE71RETHGp1BnmJg0YVNd-cDMmDRhU135wM4BZGYNCHdVy3YOcBtm1IGN7_ksQMLXh64iqVdyXC4eK&_nc_ohc=H2_xknNKgXgQ7kNvgEb0oUP&_nc_ht=scontent.ftnr2-2.fna&oh=00_AYAKvHmOxa2xs_mqOS0axf45dzyzNa3TB33Qcpj1u_f3Fg&oe=66C4058D"
                                alt="">
                        </picture>
                        <figcaption>
                            <p>lorem Title</p>
                            <p>Antananarivo faha 7 Aogositra 2024
                                [Fitsidihana ara-panajana ny Filohan’ny Antenimierampirenena, Andriamatoa TOKELY Justin]
                                ♦️Fihaonana sy fifanakalozana niompana tanteraka tamin'ny tombontsoan'ny Firenena ary
                                fanamafisana ny fiaraha-miasa amin'ny roa tonta.
                                📌Voninahitra ho an'Andriamatoa Kestiora ny Antenimierandoholona Madagasikara Eddie
                                FERNAND Serge sy ny ekipany Atoa JAONARY Nérapide mpanolotsainany,ny nandraisan’Atoa
                                Filohan'ny Antenimierampirenena azy ireo. Fihaonana nahafahan'ny roa tonta nifanakalo
                                hevitra sy nifandinika momba ny fampandrosoana ny firenena.
                                📌Fankasitrahana manokana an'Andriamatoa Filohan'ny Repobilikan'ny Madagasikara, Andry
                                RAJOELINA, nohon'ny fametrahana fatokisana amin'Atoa TOKELY Justin hatrizay ary
                                amin'izao fotoana izao izy tafapetraka amin'ny toerana stratejika voalohany izao; izany
                                hoe Filohan'ny Antenimierampirenena.
                                ✳️Fahavononana sy fahafoizan-tena ny roa tonta ho an'ny fampandrosan ny Firenena.
                                #Senatera_Eddie_FERNAND
                                #Antenimierandoholona
                                #TOKELY_Justin
                                #Antenimierampirenena
                                Comm Loholona Eddie Fernand</p>
                        </figcaption>
                    </figure>
                    <figure>
                        <picture>
                            <img src="https://scontent.ftnr2-2.fna.fbcdn.net/v/t39.30808-6/452680706_477107705044744_8122406010973231508_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeEKnCMYnAF9gl6R1PgmkvqoioECLeNAW5KKgQIt40BbkjyYXxxERjm4mq1FgKyzW1GhICmdSQqWI63iO98E2oDt&_nc_ohc=9FCh1RL8-bMQ7kNvgFH6F0L&_nc_ht=scontent.ftnr2-2.fna&oh=00_AYBRrDUOm-hSGNXd-cixbK-wO1U5C2fhd9CI4E67r5xGkQ&oe=66C4205C"
                                alt="">
                        </picture>
                        <figcaption>
                            <p>lorem Title</p>
                            <p>Antananarivo faha 24 Jolay 2024
                                -----------------------------------------------------
                                [ Lanonam-pametrahana ny samboady ny ireo Solombavambahoaka sasantsasany voafidy teto
                                Antananarivo ]
                                Ny fametrahana samboady dia manamarika ny fanombohana ny asa na fandraisana andraikitra
                                amin'ny firenena iray.
                                📌Tontosa androany 24 jolay 2024 ny fametrahana tamin'ny fomba ofisialy ny samboady ny
                                Filoha lefitry ny Antenimierampirenena misahana ny faritanin'Antananarivo, Atoa Augustin
                                ANDRIAMANANORO sy ireo Solombavambahoaka Sasantsasany voafidy teto amin'ny
                                Faritanin'Antananarivo.
                                📌Lanonana teo ambany fitarihan'Atoa Filohan'ny Antenimierampirenena Tokely Justin,izay
                                natrehan'ireo olo-manakaja maro izay nahitana ny falohan'ny Antenimierandoholona Atoa
                                Jeneraly RAVALOMANANA Richard sy ireo Loholon'i Madagasikara mpiara-miasa aminy ka
                                anisan'izany ny Kestiora Eddie FERNAND Serge.
                                👉Misaotra an'Atoa VPAN Augustin ANDRIAMANANORO tamin'ny fiaraha-miasa hatrizay mandraka
                                ankehitriny ny Kestiora ny Antenimierandoholona sy ny ekipany , ary mirary soa havita be
                                amin'ny adidy sy andraikitra amin'ny fampandrosoana ny firenena.
                                #Sénateur_Eddie_FERNAND_Serge
                                #Questeur_Sénat
                                #Cosef (COllaborateurs et Sympathisants de l'Équipe FERNAND)</p>
                        </figcaption>
                    </figure>
                </article>
                <article>
                    <button>
                        Suivant
                        <i class="bi-chevron-right"></i>
                    </button>
                </article>
            </section>
        </main>
    </div>

    <script src="../Javascript/script.js"></script>

</body>

</html>