* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color-green: #058d20;
    --color-blue: #162f81;
    --color-blue2: #074e6a;
    --color-blue1: #05668d;
    --color-orange: #E0821F;
    --color-orange2: #ffaa00;
}

html {
    scroll-behavior: smooth;
}

.bi-sun {
    color: var(--color-orange) !important;
}

a {
    color: currentColor;
    text-decoration: none;
}

p {
    cursor: default;
}

.active p {
    font-weight: bold;
}

.active {
    transition: margin 0.2s !important;
}

.active::after {
    content: '';
    position: absolute;
    width: 3em;
    margin: 0.4em 0.6em;
    margin-bottom: -2em;
    border-radius: 1em;
    padding: 0.8px;
    height: 1px;
    transition: margin 0.3s;
    background: #fff;
}


/* INDEX */
.left-0::after {
    content: '';
    position: absolute;
    width: 3em;
    margin: 0.4em 0.6em;
    margin-bottom: -2em;
    border-radius: 1em;
    padding: 0.8px;
    height: 1px;
    background: #fff;
}


.left-1::after {
    content: '';
    position: absolute;
    width: 5em;
    margin: 0.4em calc(1em * 6.8);
    margin-bottom: -2em;
    border-radius: 1em;
    padding: 0.8px;
    height: 1px;
    background: #fff;
}

#Actu .left-1::after {
    content: '';
    position: absolute;
    width: 5em;
    margin: 0.4em calc(1em * 6.8);
    margin-bottom: -2em;
    border-radius: 1em;
    padding: 0.8px;
    height: 1px;
    background: #fff;
}


.articlesActu .active::after {
    content: '';
    position: absolute;
    width: 5em;
    margin: 0.4em calc(1em * 6.8);
    margin-bottom: -2em;
    border-radius: 1em;
    padding: 0.8px;
    height: 1px;
    background: #fff;
}


.left-2::after {
    content: '';
    position: absolute;
    width: 3.6em;
    margin: 0.4em calc(2.2em * 6.8);
    margin-bottom: -2em;
    border-radius: 1em;
    padding: 0.8px;
    height: 1px;
    background: #fff;
}

.left-3::after {
    content: '';
    position: absolute;
    width: 5.5em;
    margin: 0.4em calc(3.2em * 6.8);
    margin-bottom: -2em;
    border-radius: 1em;
    padding: 0.8px;
    height: 1px;
    background: #fff;
}

.left-4::after {
    content: '';
    position: absolute;
    width: 3.9em;
    margin: 0.4em calc(4.5em * 6.7);
    margin-bottom: -2em;
    border-radius: 1em;
    padding: 0.8px;
    height: 1px;
    background: #fff;
}

#dark {
    display: none;
}

body {
    background: #f4f4f4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: background 0.2s;
    overflow-x: hidden;
}

textarea {
    resize: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div {
    display: flex;
    flex-direction: column;
}

nav {
    background: #fff;
    padding: 1em;
}

nav section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1em;
}

nav section article {
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
}

nav section article:nth-child(2) {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between !important;
    align-items: center;
}

nav section article img {
    width: 3.5em;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}

nav section article img:nth-child(2) {
    width: 7em;
    height: auto;
    object-fit: cover;
}

nav section article span {
    display: flex;
    flex-direction: row;
    gap: 0.7em;
    align-items: center;
    /* text-transform: capitalize; */
    cursor: pointer;
    padding: 0.2em 0.5em;
    border-radius: 0.1em;
    font-weight: 500;
    color: #262626;

}

nav section article span p {
    cursor: pointer;
}

#nav-p {
    display: block;
}

nav section article span:hover {
    background: #f3f3f3;
}

nav section article span i {
    font-size: 1.2em;
    color: var(--color-blue1);
}

nav section article span:nth-child(1) i {
    font-size: 1.5em;
}

nav section article span:where(:nth-child(1), :nth-child(3)) i {
    color: var(--color-orange);
}

nav section article span:last-child i {
    color: var(--color-green);
}

/* HEDER */
header {
    padding: 1em;
    color: #fff;
    background: var(--color-blue);
    position: sticky;
    top: 0;
    z-index: 9999;
}

.headerMobile {
    display: none;
}

header section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
}

header section article {
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
}

header section article p {
    cursor: pointer;
    padding: 0.2em 0.3em;
}


header section article:nth-child(1) p {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 600;
}

header section article:nth-child(2) p {
    text-transform: uppercase;
    font-weight: 400;
}

header section article:nth-child(1) p span {
    font-size: 1.3em;
}

header section article:nth-child(3) {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

header section article:nth-child(3) i {
    cursor: pointer;
    font-size: 1.2em;
    background: #fff;
    border-radius: 50%;
    padding: 0.4em 0.6em;
    border: 2px solid var(--color-blue);
    outline: 2px solid #fff;
    color: var(--color-blue);
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

/* MAIN accueil */
main section:nth-child(1) {
    background-image: url('https://www.assemblee-nationale.mg/wp-content/uploads/2021/11/IMG_20210419_115907-900x300.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: scroll;
    background-size: cover;
    height: 74vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main section:nth-child(1) article {
    background: #00000092;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 4.5em;
    gap: 1em;
}

main section:nth-child(1) article p:nth-child(1) {
    font-size: 1.4em;
    text-transform: uppercase;
    margin-bottom: 1.6em;
}

main section:nth-child(1) article span:nth-child(1) {
    display: flex;
    flex-direction: column-reverse;
    gap: 1.5em;
}

main section:nth-child(1) article p:nth-child(1) em {
    /* font-size: 1.7em; */
    font-style: normal;
    /* font-weight: 600; */
}

main section:nth-child(1) article p:nth-child(2) {
    font-size: 2.8em;
    font-weight: bold;
    margin-top: 0.2em;
}

main section:nth-child(1) article button {
    padding: 1em 1.5em;
    padding-inline-start: 2.5em !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8em;
    text-transform: capitalize;
    background: none;
    color: #fff;
    font-weight: bold;
    outline: 2px solid #fff;
    border: none;
    cursor: pointer;
    border-radius: 2em;
    margin: 0 auto;
}

main section:nth-child(1) article span button i {
    font-size: 1.5em;
    margin-bottom: 0;
    position: static;
}

main section:nth-child(1) article span i {
    font-size: 1.9em;
    position: absolute;
    bottom: 0;
    margin-bottom: 0.5em;
    cursor: pointer;
}

/* MAIN ACTUALITE */
main section:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#Actu,
#Liens,
#Contact {
    padding-top: 6em;
}

#Apropos {
    padding-top: 5em;
}

.articlesActu #Actu {
    padding-top: 3em;

}

main section:nth-child(2) article {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1.5em;
    margin: 0.5em;
}

main section:nth-child(2) article:nth-child(2) {
    flex-grow: 2;
}

.articlesActu main section:nth-child(2) article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main section:nth-child(2) article:nth-child(1) p {
    font-size: 1.9em;
    font-weight: bold;
    color: var(--color-blue);
}

main section:nth-child(2) article figure {
    background: #fff;
    padding: 1.3em;
    width: 30vw;
    border-radius: 0.2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-grow: 1;
    border: 1px solid #eaeaea;

}

main section:nth-child(2) article figure picture {
    background: #f5f5f5;
    display: flex;
    justify-content: center;
}

main section:nth-child(2) article figure picture img {
    width: max-content;
    max-width: 100%;
    object-fit: cover;
    height: max-content;
    max-height: 36vh;
}

main section:nth-child(2) article figure figcaption {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}

main section:nth-child(2) article figure figcaption p:nth-child(1) {
    font-size: 1.5em;
    font-weight: 600;
    text-transform: capitalize;
}

main section:nth-child(2) article figure figcaption p:nth-child(2) {
    height: max-content;
    max-height: 20vh;
    overflow: hidden;
    color: #262626;
    cursor: default;
}

main section:nth-child(2) article figure figcaption::after {
    content: '...Voir plus';
    position: relative;
    cursor: pointer;
    top: 0;
}

main section:nth-child(2) article figure figcaption::after:active main section:nth-child(2) article figure figcaption p:nth-child(2) {
    max-height: 60vh;
}

main section:nth-child(2) article:nth-child(3) {
    display: flex;
    justify-content: flex-end;
    margin-right: 2.5em;
}

main section:nth-child(2) article:nth-child(3) button {
    padding: 1.3em 2.3em;
    border-radius: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    text-transform: uppercase;
    background: var(--color-blue);
    color: #fff;
    font-weight: 600;
    border: 2px solid #fff;
    outline: 2px solid var(--color-blue);
    cursor: pointer;
}

/* MAIN APROPOS */
main section:nth-child(3) article:nth-child(1) {
    display: flex;
    justify-content: center;
    padding: 1em;
}

main section:nth-child(3) article:nth-child(1) p {
    font-size: 1.9em;
    font-weight: 600;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-blue);
}

main section:nth-child(3) article:nth-child(2) {
    background: #Fff;
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
    justify-content: space-between;
    margin: 1em 2em;
    padding: 0 3em 3em;
    border: 1px solid #eaeaea;
    border-radius: 0.1em;
}

main section:nth-child(3) article:nth-child(2) figure {
    width: 35em;
    display: flex;
    flex-direction: column;
    margin-top: 2.5em;
    gap: 1em;
}

main section:nth-child(3) article:nth-child(2) figure p:nth-child(1) {
    font-weight: bold;
    color: var(--color-blue);
    text-transform: uppercase;
    font-size: 3em;
}

main section:nth-child(3) article:nth-child(2) figure p:nth-child(2) {
    font-weight: 600;
    font-size: 1.5em;
    padding: 0.3em;
    color: #353535;
    display: none;
}

main section:nth-child(3) article:nth-child(2) figure p:nth-child(3) {
    width: 35vw;
    background: #f3f3f3;
    padding: 0.7em 0.8em;
    border-radius: 0.1em;
}

main section:nth-child(3) article:nth-child(2) figure button {
    width: max-content;
    padding: 1.3em 2.3em;
    cursor: pointer;
    background: var(--color-blue);
    color: #fff;
    border: 2px solid #fff;
    outline: 2px solid var(--color-blue);
    border-radius: 2em;
    margin-top: 0.7em;
    text-transform: uppercase;
}

main section:nth-child(3) article:nth-child(2) figure:nth-child(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    margin-top: 0.1em;
    margin-right: -2.5em !important;
}

main section:nth-child(3) article:nth-child(2) figure:nth-child(2) picture {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

main section:nth-child(3) article:nth-child(2) figure:nth-child(2) picture:nth-child(1) {
    margin-top: 5em;
}

/* main section:nth-child(3) article:nth-child(2) figure:nth-child(2) picture:nth-child(2) img:nth-child(2){
    z-index: 99999999;
} */

main section:nth-child(3) article:nth-child(2) figure img {
    width: 18vw;
    height: 40vh;
    border: 4px solid #fff;
    outline: 6px solid #ebebeb;
    object-fit: cover;
    filter: brightness(90%);
}

/* MAIN LIENS */
main section:nth-child(4) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin-bottom: 2em;
}

main section:nth-child(4) article:nth-child(1) p {
    font-weight: bold;
    color: var(--color-blue);
    text-transform: uppercase;
    font-size: 1.9em;
}


main section:nth-child(4) article:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
    background: #fff;
    width: max-content;
    max-width: 70vw;
    overflow: hidden;
    border: 1px solid #eaeaea;
    padding: 2em;
}

main section:nth-child(4) article:nth-child(2) picture {
    animation: anim 25s linear infinite;
    display: flex;
    flex-direction: row;
    animation-delay: calc(25s/ -5);
    gap: 3em;
}

/* main section:nth-child(4) article:nth-child(2) picture:nth-child(2) {
    animation: anim2 25s linear infinite;
    animation-delay: calc(25s/ -2);

} */

main section:nth-child(4) article:nth-child(2) picture img {
    width: 15vw;
    height: 15vh;
    object-fit: contain;
    cursor: pointer;

}

@keyframes anim {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);

    }
}

/* 
@keyframes anim2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);

    }
} */

/* CONTACT */
main section:nth-child(5) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin-bottom: 2em;
}

main section:nth-child(5) article:nth-child(1) p {
    font-weight: bold;
    color: var(--color-blue);
    text-transform: uppercase;
    font-size: 1.9em;
}

main section:nth-child(5) article:nth-child(2) {
    background: #fff;
    width: 80%;
    padding: 4em 2em;
    display: flex;
    justify-content: center;
}

main section:nth-child(5) article:nth-child(2) form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

main section:nth-child(5) article:nth-child(2) form label {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

main section:nth-child(5) article:nth-child(2) form label p {
    text-transform: capitalize;
    font-weight: 600;
    margin-left: 1em;
    font-size: 1em !important;
}

main section:nth-child(5) article:nth-child(2) form label :where(input, textarea) {
    padding: 1.2em;
    width: 50vw;
    border-radius: 3em;
    border: none;
    outline: 2px solid var(--color-blue);
    color: #353535;
    background: #f5f5f5;
}

main section:nth-child(5) article:nth-child(2) form label input[type='submit'] {
    background: var(--color-blue);
    border: 2px solid var(--color-blue);
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    padding: 1.5em;

}

/* FOOTER */
footer {
    background: #fff;
    border-top: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
}

footer section:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    align-items: center;
    padding: 3em;
    text-align: center;
}

footer section:nth-child(1) article:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

footer section:nth-child(1) article:nth-child(1) p:nth-child(1) {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    /* color: #262626; */
    color: var(--color-blue);

}

footer section:nth-child(1) article:nth-child(1) p span {
    /* font-size: 1.3em; */
    color: var(--color-blue);
}

footer section:nth-child(1) article:nth-child(1) p:nth-child(2) {
    background: #f3f3f3;
    padding: 0.7em 0.8em;
    border-radius: 0.1em;
}

footer section:nth-child(1) article:nth-child(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

footer section:nth-child(1) article:nth-child(2) i {
    background: var(--color-blue);
    color: #fff;
    padding: 0.4em 0.6em;
    border: 2px solid #fff;
    outline: 2px solid var(--color-blue);
    border-radius: 50%;
    font-size: 1.1em;
}

footer section:nth-child(1) article:nth-child(2) input {
    padding: 0.9em;
    width: 35vw;
    border-radius: 2em;
    border: none;
    background: #f3f3f3;
    outline: 2px solid var(--color-blue);
}

footer section:nth-child(1) article:nth-child(3) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}

footer section:nth-child(1) article i {
    font-size: 1.4em !important;
    cursor: pointer;
}

footer section:nth-child(1) article:nth-child(3) i {
    color: var(--color-blue);
    background: #fff;
    padding: 0.3em 0.5em;
    outline: 1px solid #d5d5d5;
    transition: 0.1s;
    border-radius: 0.1em;

}


footer section:nth-child(1) article:nth-child(3) i:nth-child(2) {
    background: var(--color-blue);
    color: #fff;
}

footer section:nth-child(1) article:nth-child(3) i:nth-child(odd) {
    background: var(--color-orange);
    color: #fff;
}

footer section:nth-child(1) article:nth-child(3) i:nth-child(odd):hover {
    background: var(--color-orange);
    color: #fff;
}

footer section:nth-child(1) article:nth-child(3) i:last-child {
    background: var(--color-green);
    color: #fff;
}

footer section:nth-child(1) article:nth-child(3) i:last-child:hover {
    background: var(--color-green);
    color: #fff;
}

footer section:nth-child(2) article {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
    background: var(--color-blue);
    color: #fff;
}

footer section:nth-child(2) article p {
    cursor: default;
}

footer section:nth-child(2) article p span {
    cursor: pointer;
}

footer section:nth-child(2) article p span:hover {
    text-decoration: underline;
}

/* btnScrollToTop */
.btnScrollToTop {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1em;
    background: var(--color-orange);
    padding: 0.8em;
    font-size: 1.2em;
    outline: 2px solid var(--color-orange);
    border: 2px solid #ffff;
    color: #ffff;
    display: none;
    cursor: pointer;
    border-radius: 50%;
    scale: 0.7;
}

.block {
    display: block;

}

/* RECHERCHE */
#Actu article p {
    text-transform: uppercase;
}

#Actu article:nth-child(1) div {
    display: flex;
    flex-direction: row !important;
    gap: 1em;
}

#Actu article div i {
    background: var(--color-blue);
    color: #fff;
    padding: 0.4em 0.6em;
    border: 2px solid #fff;
    outline: 2px solid var(--color-blue);
    border-radius: 50%;
    font-size: 1.1em;
}

#Actu article div input {
    padding: 0.9em;
    width: 35vw;
    border-radius: 2em;
    border: none;
    background: #f3f3f3;
    outline: 2px solid var(--color-blue);
}

/* NAVMOBILE */
.pop {
    position: absolute;
    top: 0;
    z-index: 9999999;
    right: 0;
    background: #fff;
    color: #353535;
    margin-top: 7em;
    margin-right: 1em;
    width: 60vw;
    display: none;
}

.block {
    display: block;

}

.pop div {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.pop div a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding-left: 1em;
    gap: 0.2em;
}

.pop div a i {
    outline: 0 !important;
    border: 0 !important;
    font-size: 1.5em !important;
    background: none !important;
}

.pop div p {
    text-transform: uppercase;
    padding: 1em;
    font-weight: 500;

}

.pop div a:hover {
    background: #d7eaff;

}

.headerMobile .active::after {
    display: none !important;
    content: '';
}